<div class="p-6">
  <div class="my-10 text-center">
    <h2 class="text-2xl font-bold text-indigo-600">WishList</h2>
    <svg class="m-auto mt-1 w-24 h-6 text-indigo-600" viewBox="0 0 100 20" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M0 10 C 25 0, 75 20, 100 10" stroke="currentColor" stroke-width="3" fill="transparent"
        stroke-linecap="round" />
    </svg>
  </div>
  <div *ngIf="wishlist.length === 0" class="text-gray-500">
    <div
      class="flex items-center justify-center bg-blue-50 border border-blue-200 text-indigo-600 text-lg font-semibold rounded-lg p-6">
      <svg class="w-6 h-6 mr-2 text-blue-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9.75 9.75h.008v.008H9.75V9.75zM12 3v1.5m6.364 1.636l-1.06 1.06M21 12h-1.5M4.636 4.636l1.06 1.06M3 12h1.5m1.636 6.364l1.06-1.06M12 21v-1.5m6.364-1.636l-1.06-1.06" />
      </svg>
      No Wishlist found
    </div>
  </div>

  <div *ngFor="let item of wishlist" class="flex items-center gap-4 bg-white shadow-md rounded-lg p-4 mb-4">
    <img [src]="item.imageCover" alt="Product Image" class="w-20 h-20 object-cover rounded-md border" />

    <div class="flex-1">
      <h3 class="text-lg font-semibold text-gray-800">{{ item.title }}</h3>
    </div>

    <button (click)="removeFormWishlist(item.id)" class="text-red-500 hover:text-red-700 transition">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
</div>